@model Vidly.Models.ViewModels.CustomersViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1> Customers </h1>

    @{
            var areAnyCustomers = Model.Customers.Count != 0;
     }

        @if (areAnyCustomers)
        {
        <table class="table table-hover">
            <tbody>
                @foreach (var customer in Model.Customers)
                {     
                    <tr class="table-info">
                        <td>@customer.Name</td>
                        <td> @Html.ActionLink("View Movies", "Index", "Movies", new { id = 1 })  </td>

                    </tr>
                }
        
            </tbody>
        </table>

        } else
        {
            <text> There are no customers.</text>
        }



</body>
</html>
